#general-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px black;
}

#header{
    display: flex;
    flex-direction: row;
    border: solid 1px black;
    justify-content: center;
}

#core{
    display: flex;
    border: solid 1px black;
}

#modal{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    justify-content: space-between;
    align-items: center;
}

.form-group{
    display: flex;
    flex-direction: row;
}