#general-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px black;
    align-items: center;
}

#header{
    display: flex;
    flex-direction: row;
    border: solid 1px black;
    justify-content: center;
}

#calendarSection{
    width: 70%;
    border: 1px solid black;
    margin: 0 auto;
}
#calendarHeader{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    border: 1px solid black;
    justify-content: center;
}
#backButton, #nextButton{
    border: none;
    background: transparent;
}
#backButton:focus, #nextButton:focus{
    outline: none;
    border: none;
    background: transparent;
}

#daysHeader{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    border: 1px solid black;
}
.dayTitle{
    margin-left: 3.8%;
    margin-right: 3.8%;
}
#calendarGrid{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid black;
    overflow-x: hidden;
}
#calendarContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid black;
}
.emptySquare{
    width: 14.05%;
    height: 10em;
    border: 1px solid black;
}
.dayOnCalendar{
    width: 14.05%;
    height: 10em;
    border: 1px solid black;
    text-align: center;
}
.addEventBtn{
    background: transparent;
    border: none !important;
    font-size:0;
    height: 10px;
    width: 100px;
}
.addEventBtn:hover{
    background: black;
    height: 10px;
    width: 100px;
    justify-content: space-between;
    align-items: center;
}

#modal{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    justify-content: space-around;
    align-items: center;
}

.form-group{
    display: flex;
    flex-direction: row;
}

.focusToday{
    background-color: red;
}

.removedNext{ 
    transform: translateX(-100vw); 
} 
.removedBack{ 
    transform: translateX(100vw); 
} 

#calendarContainer{ 
    transition: transform 0.8s 0s; 
} 

.addNext, .addBack{
    animation: fadeIn ease 0.7s;
    -webkit-animation: fadeIn ease 0.7s;
    -moz-animation: fadeIn ease 0.7s;
    -o-animation: fadeIn ease 0.7s;
    -ms-animation: fadeIn ease 0.7s;
    }
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}