#general-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px black;
    align-items: center;
}

#header{
    display: flex;
    flex-direction: row;
    border: solid 1px black;
    justify-content: center;
    align-items: center;
}

#calendarSection{
    width: 70%;
    border: 1px solid black;
    margin: 0 auto;
}
#calendarHeader{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    border: 1px solid black;
    justify-content: center;
}
#backButton, #nextButton{
    border: none;
    background: transparent;
}
#backButton:focus, #nextButton:focus{
    outline: none;
    border: none;
    background: transparent;
}

#daysHeader{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    border: 1px solid black;
}
.dayTitle{
    margin-left: 3.8%;
    margin-right: 3.8%;
}
#calendarGrid{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid black;
    overflow-x: hidden;
}
#calendarContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid black;
}
.emptySquare{
    width: 14.05%;
    height: 10em;
    border: 1px solid black;
}
.dayOnCalendar{
    width: 14.05%;
    height: 10em;
    border: 1px solid black;
    text-align: center;
}
.addEventBtn{
    background: transparent;
    border: none !important;
    font-size:0;
    height: 10px;
    width: 100px;
}
.addEventBtn:hover{
    background: black;
    height: 10px;
    width: 100px;
    justify-content: space-between;
    align-items: center;
}


/* Modal styles */
#show-modal{
    transition: all 0.15s linear;
}

.modal{
    position: fixed;
    top: -100vh;
    left: 0;
    z-index: 99999999;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.35s ease;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal .content-modal{
    width: 100%;
    max-width: 500px;
    position: fixed;
    left: 50%;
    top: -100vh;
    transition: opacity 0.35s ease;
    margin-left: -250px;
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    z-index: 999999;
}

.close-modal{
    position: absolute;
    top: 0.2em;
    right: 0.375em;
    margin: 0;
    padding: 5px;
    text-decoration: none;
}

.modal:target{
    opacity: 1;
    top: 0;
}

/* .modal .btn-close-modal{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999991;
} */
.modal:target .content-modal{
    top: 50px;
    transition: top 0.35s ease;
}

.form-group{
    display: flex;
    flex-direction: row;
}

.hide-me{
    display: none;
}

.focusToday{
    background-color: red;
}

.removedNext{
    transform: translateX(-100vw);
}
.removedBack{
    transform: translateX(100vw);
}

#calendarContainer{
    transition: transform 0.8s 0s;
}

.addNext, .addBack{
    animation: fadeIn ease 0.7s;
    -webkit-animation: fadeIn ease 0.7s;
    -moz-animation: fadeIn ease 0.7s;
    -o-animation: fadeIn ease 0.7s;
    -ms-animation: fadeIn ease 0.7s;
    }
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}